*.egg-info
__pycache__/
build/
dist/
vllm_fl/_version.py

# Coverage
.coverage
.coverage.*
htmlcov/
coverage*.json
coverage.xml

# Reports
report*.json
test-results-*
build_out/
*.so
*.log
fusion_result.json
benchmark_results/
vllm_fl/_cann_ops_custom/
